@font-face {
	font-family: 'flv';
	src: url('../fonts/flv.eot?70412307');
	src: url('../fonts/flv.eot?70412307#iefix') format('embedded-opentype'),
	 	url('../fonts/flv.woff2?70412307') format('woff2'),
		url('../fonts/flv.woff?70412307') format('woff'),
	 	url('../fonts/flv.ttf?70412307') format('truetype'),
	 	url('../fonts/flv.svg?70412307#flv') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	speak: none;
	line-height: 1;
	font-family: 'flv';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	speak: none;
	line-height: 1;
	font-family: 'flv';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-instagram:before { content: '\e800'; } 
.icon-twitch:before { content: '\e801'; } 
.icon-arrow-left:before { content: '\e802'; } 
.icon-facebook:before { content: '\e803'; } 
.icon-reddit:before { content: '\e804'; } 
.icon-messenger:before { content: '\e805'; } 
.icon-tiktok:before { content: '\e806'; } 
.icon-caret-down:before { content: '\e807'; } 
.icon-angle-left:before { content: '\e808'; } 
.icon-caret-up:before { content: '\e809'; } 
.icon-angle-up:before { content: '\e80a'; } 
.icon-arrow-down:before { content: '\e80b'; } 
.icon-location:before { content: '\e80c'; } 
.icon-arrow-right:before { content: '\e80d'; } 
.icon-arrow-up:before { content: '\e80e'; } 
.icon-code-branch:before { content: '\e810'; } 
.icon-lightbulb-on:before { content: '\e811'; } 
.icon-quote:before { content: '\e812'; } 
.icon-sitemap:before { content: '\e813'; } 
.icon-user-plus:before { content: '\e814'; } 
.icon-angle-down:before { content: '\e815'; } 
.icon-github:before { content: '\e817'; } 
.icon-telegram:before { content: '\e818'; } 
.icon-twitter:before { content: '\e819'; } 
.icon-play:before { content: '\f00f'; } 
.icon-linkedin:before { content: '\f0e1'; } 
.icon-youtube:before { content: '\f16a'; } 
.icon-vkontakte:before { content: '\f189'; } 
.icon-qq:before { content: '\f1d6'; } 
.icon-wechat:before { content: '\f1d7'; } 
.icon-pinterest:before { content: '\f231'; } 
.icon-whatsapp:before { content: '\f232'; } 
.icon-snapchat:before { content: '\f2ac'; } 
.icon-quora:before { content: '\f2c4'; } 
.icon-sina:before { content: '\f33f'; } 
 


